/* === Sintaxis === */
.bg-tag {
  background-color: #39BAE6;
}

.text-tag {
  color: #39BAE6;
}

.bg-func {
  background-color: #FFB454;
}

.text-func {
  color: #FFB454;
}

.bg-entity {
  background-color: #59C2FF;
}

.text-entity {
  color: #59C2FF;
}

.bg-string {
  background-color: #AAD94C;
}

.text-string {
  color: #AAD94C;
}

.bg-regexp {
  background-color: #95E6CB;
}

.text-regexp {
  color: #95E6CB;
}

.bg-markup {
  background-color: #F07178;
}

.text-markup {
  color: #F07178;
}

.bg-keyword {
  background-color: #FF8F40;
}

.text-keyword {
  color: #FF8F40;
}

.bg-special {
  background-color: #E6B673;
}

.text-special {
  color: #E6B673;
}

.bg-comment {
  background-color: #ACB6BF8C;
}

.text-comment {
  color: #ACB6BF8C;
}

.bg-constant {
  background-color: #D2A6FF;
}

.text-constant {
  color: #D2A6FF;
}

.bg-operator {
  background-color: #F29668;
}

.text-operator {
  color: #F29668;
}

/* === Control de versiones === */
.bg-added {
  background-color: #7FD962;
}

.text-added {
  color: #7FD962;
}

.bg-modified {
  background-color: #73B8FF;
}

.text-modified {
  color: #73B8FF;
}

.bg-removed {
  background-color: #F26D78;
}

.text-removed {
  color: #F26D78;
}

/* === Editor === */
.bg-editor {
  background-color: #0D1017;
}

.text-editor {
  color: #BFBDB6;
}

.bg-editor-line {
  background-color: #131721;
}

.bg-selection-active {
  background-color: #409FFF4D;
}

.bg-selection-inactive {
  background-color: #409FFF21;
}

.bg-find-active {
  background-color: #6C5980;
}

.bg-find-inactive {
  background-color: #6C598066;
}

.bg-gutter-active {
  background-color: #6C7380E6;
}

.bg-gutter-normal {
  background-color: #6C738099;
}

.bg-indent-active {
  background-color: #6C738080;
}

.bg-indent-normal {
  background-color: #6C738033;
}

/* === UI === */
.bg-ui {
  background-color: #0B0E14;
}

.text-ui {
  color: #565B66;
}

.bg-ui-line {
  background-color: #11151C;
}

.bg-panel {
  background-color: #0F131A;
}

.shadow-panel {
  box-shadow: 0 0 8px #00000080;
}

.bg-ui-selection-active {
  background-color: #47526640;
}

.bg-ui-selection-normal {
  background-color: #47526633;
}

/* === Común === */
.text-accent {
  color: #E6B450;
}

.text-error {
  color: #D95757;
}

.bg-accent {
  background-color: #E6B450;
}

.bg-error {
  background-color: #D95757;
}
